## loop in python
### need
#### 1. repeated code block 
#### 2. Iteration : execute same code repeatedly

## 1. while loop 
### executes till condition is true

In [1]:
i = 1
while i<10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [2]:
i = 1
while i<10:
    print(i*2)
    i+=1

2
4
6
8
10
12
14
16
18

In [4]:
i = 1
while i<10:
    print("Adarsh dwivedi")
    i+=1

Adarsh dwivedi
Adarsh dwivedi
Adarsh dwivedi
Adarsh dwivedi
Adarsh dwivedi
Adarsh dwivedi
Adarsh dwivedi
Adarsh dwivedi
Adarsh dwivedi

In [6]:
i = 1
while i<=10:
    print("11","*",i,"=",11*i)
    i+=1

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110