In [1]:
x = 40

In [2]:
x

40

In [3]:
y=5

In [4]:
x+y

45

In [5]:
x+y+x

85

In [6]:
x=x+2

In [7]:
x

42

In [8]:
name='Alice'

In [9]:
name

'Alice'

In [15]:
import keyword

In [18]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [21]:
name= "john"
age = 25
height = 175.5
print("name :" ,name)
print("age :" ,age)
print("height :" ,height)

name : john
age : 25
height : 175.5

In [23]:
name= "john"
print("length of name: ",len("john"))

length of name:  4

In [24]:
numbers = [1,2,3,4,5]
print("number of list : ",len(numbers))

number of list :  5

In [ ]:
name= "john"
age = 25
height = 175.5

In [25]:
print(type(name))

<class 'str'>

In [27]:
print(type(height))

<class 'float'>

In [29]:
name = input("Enter your name: ")

In [30]:
name

'Adarsh'

In [33]:
age = input("Enter your age: ")

In [35]:
print(f"age = {age}")

age = 23

In [ ]:
print

In [38]:
numbers = [1,2,3,4,5]
Total = sum(numbers)
print("Sum :",Total)

Sum : 15

In [39]:
x=5
y=10

In [40]:
is_greater = x>y

In [41]:
print(is_greater)

False

In [42]:
is_equal= x==y
print(is_equal)

False

In [1]:
fruits={'apple','banana','orange','apple'}

In [2]:
fruits

{'apple', 'banana', 'orange'}

In [5]:
result = None
print(result)

None

In [6]:
X = 5

In [7]:
X %= 2

In [8]:
X

1

In [21]:
x=5

In [17]:
y=5

In [22]:
print(x==y)

True

In [23]:
y = 6

In [24]:
print(x!=y)

True

In [25]:
print(not x==y)

True

In [29]:
x='hello'

In [31]:
print('h' in x)

True

In [32]:
print("a" not in x)

True

In [8]:
Random_words = ["foo", "bar", "baz", "qux", "corge"]

In [10]:
third_words = Random_words[2]

In [13]:
print(third_words)

baz

In [14]:
Elements = [50,70,30,20,90,10,50]

In [15]:
elements_slice = Elements[1:3]

In [17]:
print(elements_slice)

[70, 30]

In [19]:
every_other_Elements = Elements[::2]

In [20]:
print(every_other_Elements)

[50, 30, 90, 50]

In [21]:
nested_element = [[0,1], [2, 3]]

In [22]:
second_nested_element = nested_element[1][1]

In [23]:
print(second_nested_element)

3

In [24]:
fruits = ["apple", "banana", "orange"]
fruits.append("pear")

In [25]:
fruits

['apple', 'banana', 'orange', 'pear']

In [26]:
fruits = ["apple", "banana", "orange"]
fruits.insert(0, "pear")
print(fruits)

['pear', 'apple', 'banana', 'orange']

In [27]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(2, 10)
print(numbers)

[1, 2, 10, 3, 4, 5]

In [28]:
fruits = ['apple', 'banana', 'orange', 'pear']
last_fruit = fruits.pop(3)
print(last_fruit)

pear

In [29]:
fruits

['apple', 'banana', 'orange']

In [30]:
students = [('Alice', 20), ('Bob', 19), ('Charlie', 21)]
index_of_bob = students.index(('Bob', 19))
print(index_of_bob)

1

In [31]:
numbers = [2, 5, 7, 5, 5.0, 1, 5]
count_of_5s = numbers.count(5)
print(count_of_5s)

4

In [34]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
# Sort the list in descending order
fruits.sort(reverse=True)
print(fruits)

['elderberry', 'date', 'cherry', 'banana', 'apple']

In [38]:
numbers = [1, 2, 3, 4, 5]
# Reverse the order of the list
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

In [1]:
fruits = {"apple", "banana", "cherry"}
# Print the entire set to the console
print(fruits)

{'cherry', 'apple', 'banana'}

In [4]:
num = 20
if num > 0:
    print("the number is positive: ")
else:
    print("the number is not positive")

the number is positive:

In [10]:
num1 = 61 
num2 = 52
num3 = 78
max_num = num1
if num2 > max_num:
    max_num = num2
if num3 > max_num:
    max_num = num3
print("the maximum num of these threwe is", max_num)

the maximum num of these threwe is 78

In [11]:
num = 7
result = "even" if num % 2 == 0 else "odd"
print(result)

odd

In [16]:
num =10
result = "even" if num % 2 == 0 else "odd"
print(result)

even

In [23]:
age = 20
message = "you are eligible to vote " if age >=18 else "you are not eligible to vote"
print(message)

you are eligible to vote

In [27]:
age = 20
age_limit = 18
if age >=age_limit:
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

you are eligible to vote

In [31]:
day =input("enter the day of the week: ")
if day == "monday":
    print("its monday start of the week" )
elif day == "friday":
    print("its friday end of the week" )
elif day =="saturday" or day =="sunday":
    print("its weekend" )
else:
    print("its workdays" )

its weekend

In [33]:
num = 16
if num > 0:
    print("number is positive")
    if num % 2 ==0:
        print("num is even")
    else:
        print("number is odd")
else:
    print("number is not positive")
print("end of program")

number is positive
num is even
end of program

In [ ]:
numbers = [1, 2, 3, 4, 5]
if 3 in numbers:
    print("3 is in the list.")
else:
    print("3 is not in the list.")

IndentationError: expected an indented block after 'if' statement on line 2 (74973581.py, line 3)

In [2]:
fruits = ['apple', 'banana', 'cherry']

In [3]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [4]:
person = {'name': 'John', 'age': 30, 'city': 'New York'}

In [14]:
for key in person:
    print(key,":",person[key])

name : John
age : 30
city : New York

In [20]:
word = 'Python'
for letter in word:
    print(letter)

P
y
t
h
o
n

In [21]:
colors = ('red', 'green', 'blue')

In [26]:
for color in colors:
    print(color)

red
green
blue

In [27]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]