## python datatype

In [21]:
# for heading click markdown and type ##python datatype 
# new line me output print karwane ke liye \n and 
### 1.primitive datatypes
### 1.1 INT i.e 1,-1,576,-43
### 1.2 FLOAT i.e 2.3, 4.6
### 1.3 COMPLEX i.e 2+3j, -5+8j
### 1.4 BOOL i.e True, False
### 1.5 STR i.e "johnson", "john smith"

### 1.1 INT i.e 1, -1, 567, -43

In [1]:
print(57)

57

In [2]:
print(-1)

-1

In [3]:
print(-1)

-1

In [4]:
print(567)

567

In [5]:
print(576)

576

####1.2 FLOAT i.e 2.3, 4.6

In [6]:
print(2.3)

2.3

In [7]:
print(4.6)

4.6

####1.3 COMPLEX i.e 2+3j, -5+8j

In [9]:
j=5
print(2+3*j)

17

In [10]:
print(-5+8*j)

35

#### 1.4 BOOL i.e True, False

In [12]:
print(True)
print(False)

True
False

In [17]:
a=True
b=False
print(a)
print(b)

True
False

#### 1.5 STR i.e "johnson", "john smith"

In [20]:
print("johnson","johnsmith")
print("johnson")
print("johnsmith")

johnson johnsmith
johnson
johnsmith

In [25]:
a= "johnson" 
b = "johnsmith"
print(a,b)
print(a)
print(b)

johnson johnsmith
johnson
johnsmith

### 2.Sequence Datatype
#### 2.1 LIST

In [1]:
l1=[34,"apple",3.4]
print(type(l1))
print(l1)

<class 'list'>
[34, 'apple', 3.4]

In [32]:
print(l1)
print(l1[0])
print(l1[1])
print(l1[2])
print(l1[-1])
print(l1[-2])
print(l1[-3])

[34, 'apple', 3.4]
34
apple
3.4
3.4
apple
34

### 2.2 Tuple

In [34]:
t1=(3,4,6,"A") 
print(t1)
print(t1[-2])

(3, 4, 6, 'A')
6

In [35]:
print(t1)
print(t1[0])
print(t1[1])
print(t1[2])
print(t1[3])
print(t1[-1])
print(t1[-2])
print(t1[-3])
print(t1[-4])

(3, 4, 6, 'A')
3
4
6
A
A
6
4
3

### 2.3 range

In [37]:
range(0,10)

range(0, 10)

### 3. set types

In [39]:
s1={3,4,5,6,6,7,7,7,7,7}
print(s1)

{3, 4, 5, 6, 7}

### MAPPING DATATYPE

In [40]:
dict= {"name":"amit","age":30,"profession":"sde"}
print(dict)

{'name': 'amit', 'age': 30, 'profession': 'sde'}

5#### user defined datatype

In [41]:
class car:
    pass