## problem-1**
### population growth calculation
### initial population =10000
### growth rate = 10%
### duration = 10 years

### use loop and print ecach year total population after adding the growth rate value

In [16]:
initial_population = 10000
duration = (1,10,)
for i in range(1,11,1):
    v = initial_population
    print("total population ",i,"year = ",(v+(initial_population*0.10)))

total population  1 year =  11000.0
total population  2 year =  11000.0
total population  3 year =  11000.0
total population  4 year =  11000.0
total population  5 year =  11000.0
total population  6 year =  11000.0
total population  7 year =  11000.0
total population  8 year =  11000.0
total population  9 year =  11000.0
total population  10 year =  11000.0

In [19]:
population = 10000
for i in range(1,11):
    growth_population=population*10/100
    population = population+growth_population
    print("total population in year ",i,"is",population)
print("total_population after 10 year is ",population)

total population in year  1 is 11000.0
total population in year  2 is 12100.0
total population in year  3 is 13310.0
total population in year  4 is 14641.0
total population in year  5 is 16105.1
total population in year  6 is 17715.61
total population in year  7 is 19487.171000000002
total population in year  8 is 21435.888100000004
total population in year  9 is 23579.476910000005
total population in year  10 is 25937.424601000006
total_population after 10 year is  25937.424601000006

## problem no. 2
### ** factorial **
### i.e 
### 1! = 1*1
### 2! = 2*1
### 3! = 3*2*1
### 4! = 4*3*2*1
### 5! = 5*4*3*2*1
### take any number n by user input

In [ ]:
num = int(input("Enter number: "))
factorial = 1

for i in range(1, num+1):
    factorial = factorial* i

print("Factorial of", num, "is", factorial)

Factorial of 5 is 1
Factorial of 5 is 2
Factorial of 5 is 6
Factorial of 5 is 24
Factorial of 5 is 120

In [ ]:
for

In [ ]:
## 1.print like following 
## *
## **
## ***
## ****
## *****
## ******

In [19]:
num = int(input("Enter a number: "))
for i in range(1, num+1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [20]:
num = int(input("Enter a number: "))
for i in range(1, num+1):
    for j in range(0,i):
        print("*",end="-")
    print(" ")

*-
*-*-
*-*-*-
*-*-*-*-
*-*-*-*-*-

In [ ]:
## show squared number of each elements in a list
## i.e l1 = [3,4,5,6] ->o/p [9 ,16,25,36]

In [27]:
l1 = [3,4,5,6]
l2=[]
for i in l1:
    l2.append(i*i)
print(l2)

[9, 16, 25, 36]

In [ ]:
## print following
#    1
#   123
#  12321
# 1234321

In [33]:
num = int(input("Enter a number: "))
for i in range(1,num+1):
    print(" " * (num - i), end="")
    for j in range(1,i):
        print(j,end="")
    for k in range(i-1,1,-1):
        print (k-1,end="") 
    print()

   1
  121
 12321
1234321